<div class="col-md-6 offset-md-3">
    <h3 style="color: blueviolet;">Update Author</h3>
    <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>AuthorName</label>
            <input type="text" class="form-control" id="authorName"
                [(ngModel)]="author.authorName" name="Author Name" formControlName="authorName">
            <div *ngIf="authorForm.controls['authorName'].invalid && (authorForm.controls['title'].dirty || authorForm.controls['title'].touched)" class="alert alert-danger">
                Name is required
            </div>
        </div>
    
        <button class = "btn btn-success" type ="submit" style="margin-top: 20px;">Submit</button>
    </form>

</div>